extends ./frame
include ./comment-item
include ./map-script


block content
    div(id='map')
    section(id='images')
        each image in images
            img(src=`/images/scenery/${image.source}`)
    section(id='info')
        table
            tbody
                tr 
                    td Schwierigkeit: #{trail.info.difficulty}  
                    td Strecke: #{trail.info.length}km   
                    td Dauer: #{trail.info.time}h
    article(id='description') Beschreibung: #{trail.description}
    section(id='comment-section')
        h3 Kommentare:
        form 
            input(type='text')
            input(type='button' value='Senden')
        div(id='comments')
            each comment in comments
                +commentItem(comment)

block scripts
    script(type='importmap').
        {
            "imports": {
                "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js",
                "leaflet-gpx": "/scripts/gpx.js"
            }
        }
    +mapScript(trail)