extends ./frame
include ./comment-item
include ./map-script

block head 
    link(rel='stylesheet' href='/css/trails.css')

block content
    div(id='map')
    section(id='images')
        each image in images
            img(src=`/images/scenery/${image.source}`)
    section(id='info')
        table
            tbody
                tr 
                    td Schwierigkeit: #{trail.info.difficulty}  
                    td Strecke: #{trail.info.length}km   
                    td Dauer: #{trail.info.time}h
    article(id='description') Beschreibung: #{trail.description}
    section(id='comment-section')
        h3 Kommentare:
        form(id="comment-form") 
            input(id='comment-content' type='text' required)
            input(id='comment-button' type='submit' value='Senden')
        //display comments in this section via for-loop
        div(id='comments')
            if comments.length > 0
                table
                    tbody
                        each comment in comments
                            +commentItem(comment)


block scripts
    script(src='/scripts/sendComment.js')
    //load the leaflet and leaflet-gpx libraries to render the interactive map
    script(type='importmap').
        {
            "imports": {
                "leaflet": "https://unpkg.com/leaflet@2.0.0-alpha.1/dist/leaflet.js",
                "leaflet-gpx": "/scripts/gpx.js"
            }
        }
    //script to render the map
    +mapScript(trail)